<div
  class="smallscreen grid grid-cols-3 gap-4  xs:mt-8 xs:w-auto xs:m-auto lg:mt-8 bg-slate-100 shadow lg:m-auto lg:w-[80%]"
>
  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image3.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>
  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image3.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>
  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image4.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image5.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image6.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image7.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image8.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image9.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <p class="font-semibold">Egg Salad</p>
    <img class="w-auto h-auto rounded-md" src="../../../assets/image9.avif" />
    <div
      class="bg-slate-400 w-auto h-auto flex justify-evenly items-center rounded mt-3 p-5"
    >
      <span> <i class="fa-solid fa-circle-plus fa-2xl"></i></span> Add to
      Cart<span
        ><span> <i class="fa-solid fa-circle-minus fa-2xl"></i></span>
      </span>
    </div>
  </div>
</div>
