<div
  class="grid grid-cols-4 gap-4 md:grid-cols-3 xs:mt-8 xs:w-auto xs:m-auto lg:mt-8 bg-slate-100 shadow lg:m-auto lg:w-[80%]"
>
  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md" src="../../../assets/image3.avif" />
  </div>
  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md " src="../../../assets/image3.avif" />
  </div>
  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md" src="../../../assets/image4.avif" />
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md" src="../../../assets/image5.avif" />
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md" src="../../../assets/image6.avif" />
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md" src="../../../assets/image7.avif" />
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md" src="../../../assets/image8.avif" />
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md" src="../../../assets/image9.avif" />
  </div>

  <div class="bg-slate-100 rounded-md h-auto w-auto text-center p-4">
    <img class=" w-auto h-auto rounded-md" src="../../../assets/image9.avif" />
  </div>
</div>
